.test {
  width: 100%;
  // background-color: #7fffd4;
  width: 100%;
  height: 100vh;
  // background: green;

  .community {
    .videoContainer {
      .video {
        width: 100%;
        height: 255px;
        background: rgba(37, 37, 37, 1);
        border-radius: 1px;
      }

      .group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 1rem 0 1rem;

        .title {
          color: white;
          font-weight: 600;
          font-size: var(--font-size-xm);
        }

        .icons {
          display: flex;
          align-items: center;

          li {
            display: flex;
            align-items: center;
            margin-left: 0.7rem;
            cursor: pointer;

            p {
              color: white;
              font-weight: 400;
              font-size: 14px;
              margin-right: 0.5rem;
            }
          }
        }
      }

      .heart {
        display: flex;
        align-items: center;
        margin: 1.4rem 1rem 3rem 1rem;
        // margin-left: 1rem;

        img {
          margin-right: 0.5rem;
        }

        .cnt {
          color: white;
          font-weight: 400;
          // font-size: var(--font-size-m);
          font-size: 14px;
        }
      }
    }
  }
}
