#videoModal {
  width: 320px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--color-grayscale-web-card);

  border: 0;
  border-radius: 14px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 24px;
    padding: 0.8rem 1rem;

    border-bottom: 1px solid var(--font-color-gray-700);
    p {
      color: var(--font-color-gray-main);
      font-size: var(--font-size-xm);
      font-weight: 700;
    }

    img {
      width: 24px;
      height: 24px;

      cursor: pointer;
    }
  }

  .contents {
    .video {
      width: 300px;
      height: 250px;

      background-color: var(--black-color);
      border-radius: 8px;

      margin: 1rem auto 0 auto;
    }

    .text {
      padding: 1.3rem 0;

      text-align: center;

      color: var(--font-color-gray-main);
      font-size: var(--font-size-m);
      font-weight: 400;

      border-bottom: 1px solid var(--font-color-gray-700);

      div {
        margin: 0.4rem 0;
      }

      span {
        color: var(--font-color-lemon-400);
      }
    }

    .group {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0.6rem 1rem;

      div {
        display: flex;
        align-items: center;

        color: var(--font-color-gray-main);
        font-size: var(--font-size-s);
        font-weight: 400;

        span {
          color: var(--font-color-gray-main);
          font-size: var(--font-size-xm);
          font-weight: 400;

          color: var(--font-color-lemon-400);

          margin-left: 0.3rem;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        width: 84px;
        height: 38px;

        background-color: var(--primary-color-defualt-01);

        color: var(--white-color);
        font-size: var(--font-size-xm);
        font-weight: 700px;

        border-radius: 5px;
      }
    }
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
