.calendar {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;

  // margin: 0 1rem;

  .block {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.6rem 0 0.6rem;

    cursor: pointer;
    box-sizing: border-box;

    div {
      margin-bottom: 0.5rem;

      color: var(--font-color-gray-500);
      font-size: var(--font-size-m);
      font-weight: 500;
    }

    &:hover {
      border: 1px solid var(--primary-color-defualt-01);
      border-radius: 6px;

      div {
        color: var(--font-color-gray-100);
      }
    }

    &.selected {
      border: 1px solid var(--primary-color-defualt-01);
      border-radius: 6px;
      background: var(--color-grayscale-web-card);

      div {
        color: var(--font-color-gray-100);
      }
    }
  }
}
