.option {
  display: flex;

  width: 100%;
  font-size: var(--font-size-m);

  background: var(--color-grayscale-web-card);

  > .container {
    width: 100%;

    padding: 1rem 1rem 1rem 1rem;

    .title {
      margin: 0.7rem 0;
      #mainTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--font-color-gray-100);
        font-size: var(--font-size-l);
        font-weight: 700;

        margin-bottom: 0.6rem;
      }

      #subTitle {
        color: var(--font-color-lemon-400);
        font-size: var(--font-size-s);
        font-weight: 500;
      }
    }

    .selectBox {
      .selectGroup {
        width: 100%;
        margin: 2rem 0 1rem 0;

        .options {
          display: flex;
          flex-direction: column;
          justify-content: center;

          margin-bottom: 1rem;

          .subTitle {
            display: flex;
            align-items: center;

            margin-bottom: 0.5rem;

            color: var(--font-color-gray-100);
            font-size: var(--font-size-xm);
            font-weight: 700;

            img {
              margin-right: 0.2rem;

              width: 20px;
              height: 20px;
            }
          }

          #noHours {
            color: var(--font-color-gray-500);
            font-size: var(--font-size-m);
            font-weight: 500;

            margin: 0.5rem auto;
            text-align: center;
          }

          .housrsList {
            width: 100%;
            // height: 53px;
            padding-bottom: 0.5rem;

            // margin: 0 auto;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            .test {
              width: 100%;
              margin-right: auto;
              display: flex;
              align-items: center;
              justify-content: start;

              .scheduleGroup {
                margin-right: 1rem;
                padding: 0.5rem;

                border: 3px solid var(--font-color-gray-700);
                border-radius: 6px;

                cursor: pointer;

                #hour {
                  color: var(--font-color-gray-500);
                  font-size: var(--font-size-m);
                  font-weight: 500;

                  margin-bottom: 0.3rem;
                }

                #videoCnt {
                  //   color: var(--font-color-gray-500);
                  color: var(--main-color-blue-03);
                  font-size: var(--font-size-xs);
                  font-weight: 700;
                }

                &:hover {
                  border: 1px solid var(--primary-color-defualt-01);
                  border-radius: 6px;

                  #hour {
                    color: var(--font-color-gray-100);
                  }
                }

                &.selected {
                  border: 1px solid var(--primary-color-defualt-01);
                  border-radius: 6px;

                  #hour {
                    color: var(--font-color-gray-100);
                  }
                }
              }
            }
          }

          .selectLocation {
            display: flex;
            align-items: center;

            .selectbox {
              position: relative;
              // min-width: 128px;
              height: 36px;

              display: flex;
              align-items: center;
              justify-content: center;

              margin-right: 0.6rem;
              margin-top: 0.3rem;

              button {
                width: 100%;
                min-width: 210px;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;

                border-radius: 6px;
                background: rgba(37, 37, 37, 1);
                background: var(--color-grayscale-input-700);

                cursor: pointer;

                span {
                  color: var(--font-color-gray-400);
                  font-weight: 500;
                  font-size: var(--font-size-m);

                  margin-left: 0.5rem;
                  margin-right: 0.5rem;
                }

                img {
                  margin-right: 0.6rem;
                }
              }

              ul {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 100%;
                left: 0;

                box-shadow: 0px 0px 20px 0px #00000066;

                max-height: 160px; // 최대 높이를 설정
                overflow-y: auto; // 내용이 넘칠 경우 스크롤 생성

                width: 100%;
                background: rgba(37, 37, 37, 1);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                display: none;
                z-index: 1000;

                .ulTitle button {
                  width: 100%;
                  padding: 0.5rem 1rem;

                  border: none;
                  background: rgba(37, 37, 37, 1);

                  font-weight: 500;
                  color: var(--font-color-gray-sub);
                  font-size: var(--font-size-m);
                }

                .items {
                  button {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    // padding-left: 0.5rem;
                    border: none;
                    background: rgba(37, 37, 37, 1);
                    color: white;
                    text-align: left;
                    cursor: pointer;

                    p {
                      margin-left: 1rem;
                    }

                    &:hover {
                      background: rgba(57, 57, 57, 1);
                    }

                    &.selected {
                      background: rgba(77, 77, 77, 1);
                    }
                  }
                }
              }

              &.open ul {
                display: block;
              }

              &.open #selectedBtn {
                border: 1px solid var(--primary-color-defualt-01);
                border-radius: 6px;
              }
            }
          }
        }
      }
    }
  }
}

.downLoadFrame {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  background: var(--color-grayscale-web-card);
  padding: 1.7rem 1.3rem;
  margin: 1rem;

  border-radius: 10px;
  border: 1px solid var(--font-color-gray-700);

  #textGroup {
    margin-bottom: 1.5rem;

    .desText {
      font-size: var(--font-size-xm);
      font-weight: 700;
      color: var(--white-color);

      margin-bottom: 0.6rem;

      span {
        color: var(--blue-color);
        margin-right: 0.3rem;
      }
    }
  }

  .desText {
    font-size: var(--font-size-xm);
    font-weight: 700;
    color: var(--white-color);

    margin-bottom: 1rem;

    span {
      color: var(--blue-color);
    }
  }

  .downLoadBtn {
    // width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    height: 46px;

    // margin: 1rem 0 0.5rem 0;
    margin: 0 auto;

    border-radius: 5px;

    background-color: var(--primary-color-defualt-01);

    font-weight: 700;
    color: var(--font-color-gray-100);
    font-size: var(--font-size-xm);
  }

  .downLoadTxt {
    display: flex;
    align-items: center;
    justify-content: start;

    margin: 1rem auto 0 auto;

    div {
      color: var(--font-color-gray-main);
      font-size: var(--font-size-s);
      font-weight: 400;

      margin-left: 0.3rem;
    }

    image {
      width: 12px;
      height: 12px;
    }
  }
}
.downloadAllBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  max-width: 500px; /* 버튼의 최대 너비 지정 */
  width: 90%;
  margin: 20px auto; /* 상하 여백은 유지, 좌우는 자동으로 가운데 정렬 */
  padding: 0 1rem;

  cursor: pointer;

  background-color: var(--primary-color-defualt-01);
  font-weight: 500;
  font-size: var(--font-size-xm);
  border-radius: 5px;
}

.videoList {
  // width: 100%;
  padding-top: 1.7rem;
  background: var(--color-grayscale-black-bg);

  .noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7rem 0;

    div {
      font-weight: 500;
      font-size: var(--font-size-sl);
      color: var(--font-color-gray-400);
    }
  }

  .videoContainer {
    padding: 0 1rem 1rem 1rem;

    .video {
      width: 100%;
      height: 230px;
      background: black;
      border-radius: 14px;

      cursor: pointer;

      img {
        width: 100%;
        height: 100%;

        border-radius: 14px;
        object-fit: cover;
      }
    }

    .description {
      .title {
        margin: 1rem 0 0.5rem 0;

        font-weight: 700;
        font-size: var(--font-size-xm);
        color: var(--font-color-gray-100);
      }

      .subDes {
        font-weight: 500;
        font-size: var(--font-size-s);
        color: var(--font-color-gray-sub);

        div {
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}

.modalOverlay {
  width: 410px;
  height: 184px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;

  border: 0;
  z-index: 999; /* 다른 요소 위에 표시 */
  .modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;

    background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);
    padding: 24px 20px 24px 20px;
    .modalContent {
      text-align: left; // 왼쪽 정렬
      color: #fff; // 전체 텍스트 색상
      font-size: 18px; // 원하는 크기 설정
      line-height: 1.6; // 줄 간격 조정
      font-family: Pretendard;
    }
    .textContainer {
      display: flex;
      gap: 7px;
      margin-bottom: 16px;
      .blueText {
        display: flex;
        color: #007aff; // 파란색 강조
        font-weight: bold; // 강조 텍스트 볼드 처리
      }
    }

    .downloadButton {
      display: flex;
      width: 370px;
      height: 38px;
      padding: 7px 16px 7px 12px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      flex-shrink: 0;
      border-radius: 5px;
      background: var(--Blue-Blue-400, #2458ec);
      color: var(--GRAY-SCALE-Gray-100, #f9fafe);
      text-align: center;

      /* SUBTITLE/16_bold */
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%; /* 25.6px */
      cursor: pointer;
      display: inline-block;
    }

    .noticeText {
      display: flex; // 아이콘과 글자를 가로로 배치
      align-items: center; // 수직 중앙 정렬
      color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);
      font-family: Pretendard;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 19.2px */
      margin-top: 8px;
      white-space: nowrap; // 텍스트를 한 줄에 유지
    }

    .icon {
      width: 12px;
      height: 12px;
      margin-right: 4px; // 아이콘과 텍스트 사이 여백
      flex-shrink: 0; // 아이콘이 줄어들지 않도록 고정
    }
  }
}
