.test {
  // background-color: var(--guide-line-color);
  width: 100%;
  // margin-top: 2.875rem;

  .stadium {
    color: white;
    margin-top: 2.875rem;

    > div {
      // background-color: blue;

      .banner {
        // background-color: antiquewhite;
        height: 338px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          height: 100%;

          object-fit: cover;
        }
      }

      > .container {
        margin: 2.875rem auto 1.875rem auto;
        background-color: var(--main-color-navy-02);
        display: flex;
        flex-direction: column;
        width: 95.11%;
        // height: 28.125rem;

        > .group {
          margin: 0.75rem 0.9375rem 1rem 0.9375rem;

          .intro {
            .title {
              display: flex;
              align-items: center;
              margin-bottom: 1.9375rem;

              img {
                margin-right: 0.75rem;
              }

              > span {
                font-size: var(--font-size-l);
              }
            }

            .introText {
              font-size: var(--font-size-m);

              margin-right: 1rem;
            }
          }

          .reservationBtn {
            // background-color: #615B14;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3.0625rem 0 3.0625rem 0;
            height: 1.875rem;

            #reservation {
              background-color: var(--gradient-color-blue-01);
              width: 6.875rem;
              height: 100%;
              color: var(--white-color);
              font-size: var(--font-size-xm);
              font-weight: 600;
              border-radius: 0.25rem;
            }

            #stadium {
              display: flex;
              align-items: center;
              height: 100%;
              width: 100px;
              background: linear-gradient(
                -60deg,
                transparent 20px,
                var(--sub-color-yellow-03) 0
              );
            }
          }

          > .info {
            // background-color: yellowgreen;
            display: flex;
            flex-direction: row;
            font-size: var(--font-size-xm);

            > .group {
              > span {
                margin: auto 0 0 0;
              }
            }

            > .group:first-child {
              // background-color: teal;
              display: flex;
              flex-direction: column;
              width: 7.1875rem;
              height: 145px;
            }

            > .group:last-child {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }

    .option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
      font-size: var(--font-size-m);

      > .container {
        margin: 0 auto;
        background-color: var(--main-color-navy-01);

        select {
          width: 60px;
          height: 30px;
          background-color: var(--grey-color-grey-01);
          color: var(--white-color);
          font-size: var(--font-size-m);
          border: none;
          border-radius: 4px;
          text-align: center;
        }

        #month,
        #day,
        #stadium {
          margin-right: 0.5rem;
        }
      }
    }

    .video {
      width: 100%;
      margin-bottom: 0.6875rem;

      > .container {
        display: flex;
        flex-direction: row;
        // background-color: aqua;
        margin: 0 0 0 0.6875rem;

        > .group {
          background-color: var(--black-color);
          border: 1px solid var(--grey-color-grey-02);
          border-radius: 10px;
          width: 10.25rem;
          margin: 0;
          // height: 7.625rem;
          margin-right: 1.25rem;

          .contents {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem;
            width: 8.25rem;
            height: 5.625rem;

            span:first-child {
              padding: 0.0625rem;
            }

            span:last-child {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              align-content: flex-end;
              width: 8.125rem;
              height: 3rem;
              color: yellow;
            }
          }
        }
      }
    }

    .videoList {
      width: 95.11%;
      height: 9.3125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 1.875rem;
      background-color: var(--main-color-navy-02);
      border-radius: 10px;
      border: 1px solid var(--grey-color-grey-02);

      > .stadium {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 0 auto;
        margin: 0 0.75rem 0 0.75rem;

        > .container {
          display: flex;
          // border-radius: 10px;
          // background-color: #656565;
          // margin: 0.6875rem;

          .videoImage {
            // background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          #video {
            // background-color: blueviolet;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > .info {
              // background-color: #500b82;
              font-size: var(--font-size-xs);
              display: flex;
              flex-direction: column;

              > .group {
                // background-color: #ff9101;
                display: flex;
                flex-direction: column;
                margin-left: 1.25rem;
              }

              .group:last-child {
                margin-top: 3.3125rem;
                font-size: var(--font-size-xs);
              }

              #name {
                font-size: var(--font-size-xm);
              }

              #location {
                margin: 0.0625rem;
              }
            }
          }
        }
      }
    }
  }
}
