.test {
  background-color: aquamarine;
  width: 100%;
}

.stadium {
  color: white;

  .banner {
    background-color: antiquewhite;
    position: relative;
  }

  .intro {}

  // .option {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;

  //   .select {}

  //   #search {
  //     display: flex;
  //     flex-direction: row;
  //   }
  // }

  >.video {
    .group {
      background-color: black;
      border: 1px solid #656565;
      border-radius: 10px;
      display: flex;
      flex-direction: column;

      span:last-child {
        display: flex;
        justify-content: flex-end;
        color: yellow;
      }
    }
  }

  .videoList {
    .stadium {
      display: flex;
      border-radius: 10px;
      background-color: #656565;

      .video {
        .info {
          display: flex;
          flex-direction: column;
          background-color: bisque;
        }
      }
    }
  }
}