.test {
  // background-color: var(--guide-line-color);
  width: 100%;

  .stadium {
    width: 100%;

    .banner {
      height: 338px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .introBox {
      width: 100%;
      height: 100%;
      background: var(--color-grayscale-black-bg);

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;

        border-bottom: 1px solid var(--color-grayscale-input-700);

        #reservation {
          background-color: var(--primary-color-defualt-01);
          // width: 6.875rem;
          width: 115px;
          height: 38px;

          color: var(--white-color);
          font-size: var(--font-size-xm);
          font-weight: 700;
          border-radius: 5px;
        }

        div {
          font-weight: 700;
          font-size: var(--font-size-l);
          color: var(--font-color-gray-100);
        }
      }

      .introText {
        width: 100%;

        padding: 1rem;

        font-size: var(--font-size-s);
        color: var(--font-color-gray-sub);
        font-weight: 500;

        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }

    .infoBox {
      background: var(--color-grayscale-web-card);
      .infoHeader {
        height: 48px;

        padding: 0 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        color: var(--font-color-gray-100);

        border-bottom: 1px solid var(--color-grayscale-input-700);

        img {
          width: 20px;
          height: 20px;

          cursor: pointer;
        }
      }

      &.open .infoGroup {
        display: block;
      }

      .infoGroup {
        display: none;
        padding: 1rem;

        .topInfo {
          display: flex;
          justify-content: start;
          align-items: center;

          margin-bottom: 0.7rem;

          .isOutside {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 37px;
            height: 19px;

            background: var(--color-ect-info);

            border-radius: 4px;

            color: var(--font-color-gray-700);
            font-weight: 500;
            font-size: var(--font-size-s);

            margin-right: 0.4rem;
          }

          .isParking {
            display: flex;
            justify-content: center;
            align-items: center;

            min-width: 61px;
            height: 19px;

            background: var(--color-ect-accent);

            border-radius: 4px;

            color: var(--white-color);
            font-weight: 500;
            font-size: var(--font-size-s);

            margin-right: 1rem;
          }
        }

        #info {
          width: 100%;

          .line {
            display: flex;
            justify-content: start;
            align-items: center;

            margin-top: 0.2rem;

            img {
              width: 20px;
              height: 20px;
            }

            .info {
              color: var(--font-color-gray-sub);
              font-weight: 500;
              font-size: var(--font-size-m);
              margin-left: 0.3rem;

              line-height: 22px;

              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;
      font-size: var(--font-size-m);

      background: var(--color-grayscale-black-bg);

      > .container {
        margin-top: 2rem;
        padding: 0 1rem;

        .title {
          margin: 0.7rem 0;
          #mainTitle {
            color: var(--font-color-gray-100);
            font-size: var(--font-size-l);
            font-weight: 700;

            margin-bottom: 0.6rem;
          }

          #subTitle {
            color: var(--font-color-lemon-400);
            font-size: var(--font-size-s);
            font-weight: 500;
          }
        }

        .select {
          display: flex;
          align-items: center;

          .selectbox {
            position: relative;
            // min-width: 128px;
            height: 36px;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 0.6rem;

            button {
              width: 100%;
              height: 100%;

              display: flex;
              align-items: center;
              justify-content: space-between;

              border-radius: 6px;
              background: rgba(37, 37, 37, 1);
              background: var(--color-grayscale-input-700);

              cursor: pointer;

              span {
                color: var(--font-color-gray-400);
                font-weight: 500;
                font-size: var(--font-size-m);

                margin-left: 0.5rem;
                margin-right: 0.5rem;
              }

              img {
                margin-right: 0.6rem;
              }
            }

            ul {
              margin: 0;
              padding: 0;
              position: absolute;
              top: 100%;
              left: 0;

              max-height: 160px; // 최대 높이를 설정
              overflow-y: auto; // 내용이 넘칠 경우 스크롤 생성

              width: 100%;
              background: rgba(37, 37, 37, 1);
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              display: none;
              z-index: 1000;

              li {
                button {
                  width: 100%;
                  padding: 0.5rem 0;
                  padding-left: 0.5rem;
                  border: none;
                  background: rgba(37, 37, 37, 1);
                  color: white;
                  text-align: left;
                  cursor: pointer;

                  p {
                    margin-left: 1rem;
                  }

                  &:hover {
                    background: rgba(57, 57, 57, 1);
                  }

                  &.selected {
                    background: rgba(77, 77, 77, 1);
                  }
                }
              }
            }

            &.open ul {
              display: block;
            }
          }
        }

        #month,
        #day,
        #stadium {
          margin-right: 0.5rem;
        }
      }
    }

    // .hours {
    //   width: 100%;
    //   margin-bottom: 2rem;

    //   .housrsList {
    //     width: 85%;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     margin: 0 auto;
    //     background-color: var(--main-color-navy-01);
    //     // margin: 0 0 2rem 0.6875rem;

    //     .group {
    //       background-color: var(--black-color);
    //       border: 1px solid var(--grey-color-grey-02);
    //       border-radius: 10px;
    //       // margin-right: 1.25rem;

    //       cursor: pointer;
    //       // margin-right: 5rem;

    //       cursor: pointer;
    //       // margin-right: 5rem;

    //       .contents {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         margin: 1rem;
    //         width: 8.25rem;
    //         height: 5.625rem;

    //         span:first-child {
    //           padding: 0.0625rem;
    //         }

    //         span:last-child {
    //           display: flex;
    //           flex-wrap: wrap;
    //           justify-content: flex-end;
    //           align-content: flex-end;
    //           width: 8rem;
    //           height: 3rem;
    //           color: yellow;
    //         }
    //       }
    //     }
    //   }
    // }

    .videoList {
      // width: 100%;
      padding-top: 1.7rem;
      background: var(--color-grayscale-black-bg);

      .noData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 7rem 0;

        div {
          font-weight: 500;
          font-size: var(--font-size-sl);
          color: var(--font-color-gray-400);
        }
      }

      .videoContainer {
        padding: 0 1rem 1rem 1rem;

        .video {
          width: 100%;
          height: 230px;
          background: black;
          border-radius: 14px;

          cursor: pointer;

          img {
            width: 100%;
            height: 100%;

            border-radius: 14px;
            object-fit: cover;
          }
        }

        .description {
          .title {
            margin: 1rem 0 0.5rem 0;

            font-weight: 700;
            font-size: var(--font-size-xm);
            color: var(--font-color-gray-100);
          }

          .subDes {
            font-weight: 500;
            font-size: var(--font-size-s);
            color: var(--font-color-gray-sub);

            div {
              margin-bottom: 0.3rem;
            }
          }
        }
      }
    }
  }
}
