.test {
  width: 95%;
  max-width: 47.5rem;
  margin: 0 auto;
  // background: green;

  .editProfile {
    margin-top: 20px;

    .profile {
      background: rgba(26, 26, 60, 1);
      // height: 950px;
      width: 100%;
      max-width: 690px;
      // max-height: 950px;
      margin: 0 auto;
      border-radius: 10px;
      border: 2px solid transparent;
      border-image: linear-gradient(270deg,
          rgba(0, 87, 255, 0.1) 19.41%,
          rgba(0, 87, 255, 0.4) 48.1%,
          rgba(0, 87, 255, 0.1) 80.57%);
      border-image-slice: 1;

      .container {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        // width: 364px;
        // max-width: 627.5px;
        margin: 30px auto;

        .image_box {
          width: 170px;
          // max-width: 293.42px;
          // height: 279.42px;
          display: flex;
          position: relative;

          .box {
            width: 100%;
            max-width: 150px;
            height: 150px;
            border: 1px solid rgba(217, 217, 217, 1);
            border-radius: 50%;
            overflow: hidden;
            background: rgba(1, 0, 38, 1);

            .image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          label {
            .modify {
              position: absolute;
              bottom: 1px;
              right: 5px;
              // top: 1px;
              // width: 17%;
              width: 30px;
              height: 30px;
              border: 1px solid rgba(217, 217, 217, 1);
              border-radius: 50%;
              display: flex;
              cursor: pointer;

              .pencil {
                margin: auto;
                object-fit: cover;
              }
            }
          }
        }

        .userInfo {
          // margin-right: 2rem;

          .name {
            font-size: var(--font-size-m);
            /* 웹 뷰 폰트 크기 */
            font-weight: 200;
            color: white;
          }

          .subscribe {
            margin-top: 20px;
            margin-bottom: 26px;
            font-size: var(--font-size-s);
            font-weight: 400;
            display: flex;
            align-items: center;

            .who {
              color: white;
              margin-right: 0.5rem;
            }

            .when {
              color: rgba(0, 87, 255, 1);
            }

            .sub {
              margin-right: 10px;
            }
          }

          .group {
            margin-top: 1.3rem;
            display: flex;
            align-items: center;
            color: white;

            .title {
              font-size: var(--font-size-m);
              font-weight: 600;
              width: 70px;
              height: 24px;
              border-radius: 2px;
              // background: linear-gradient(-60deg,
              //     transparent 20px,
              //     rgba(97, 91, 20, 1) 0);
              background-color: var(--sub-color-yellow-03);
              display: flex;
              align-items: center;
              padding-left: 1rem;
              margin-right: 1rem;
            }

            .descrip {
              font-size: var(--font-size-m);
              font-weight: 400;
            }
          }
        }
      }

      .table {
        background-color: #12163c;
        border-radius: 20px;

        width: 100%;
        max-width: 618px;
        margin: 30px auto 0 auto;
        color: #ffffff;

        .header {
          display: flex;
          align-items: center;
          justify-content: center;

          // font-size: var(--font-size-xl);
          font-weight: 600;

          background: rgba(2, 0, 57, 1);
          border-radius: 20px 20px 0 0;
          height: 50px;
        }

        .info {
          // padding: 2rem 0;
          padding: 19px 0 19px 0;
          background: rgba(1, 0, 38, 1);

          .row {
            display: flex;
            align-items: center;

            // padding: 1rem 1rem;
            //   border-bottom: 1px solid #2a2f55;

            .label {
              font-weight: 300;
              // font-size: var(--font-size-l);
              max-width: 82px;
              width: 100%;
              text-align: right;
            }

            .input {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 12px 0 12px 0;
              margin-left: 40px;

              .value {
                // font-size: var(--font-size-m);
                display: flex;

                color: white;
              }

              .edit {
                // font-size: var(--font-size-m);
                font-weight: 300;

                cursor: pointer;
                margin-right: 3rem;
              }
            }
          }

          // hr {
          //   margin: 0.5rem auto;
          //   width: 100%;
          //   max-width: 542.5px;

          //   border: none;
          //   border-top: 1px solid rgba(168, 189, 246, 1);
          // }
        }

        .actions {
          display: flex;

          .cancel,
          .save {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            height: 75px;
            // font-size: var(--font-size-xl);
            font-weight: 600;

            cursor: pointer;
          }

          .cancel {
            background: rgba(2, 0, 57, 1);
            border-bottom-left-radius: 10px;
            width: 215px;
          }

          .save {
            background-color: rgba(0, 87, 255, 1);
            border-bottom-right-radius: 10px;
            width: 401px;
          }
        }
      }
    }
  }
}