.test {
  width: 100%;
  max-width: 47.5rem;
  margin: 0 auto;
  padding-bottom: 3rem;
  // background: green;

  .community {
    // 1
    .videoContainer {
      background: var(--color-grayscale-web-card);

      .video {
        width: 100%;
        height: 255px;
        // background: rgba(37, 37, 37, 1);
        border-radius: 1px;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .group {
        padding: 1rem;

        .title {
          color: var(--font-color-gray-100);
          font-weight: 700;
          font-size: var(--font-size-l);

          margin-bottom: 1rem;
        }

        .icons {
          display: flex;
          align-items: center;

          .heart {
            display: flex;
            align-items: center;

            .onHeart {
              animation: heartAnimation 0.5s ease;
            }

            @keyframes heartAnimation {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.3);
              }
              100% {
                transform: scale(1);
              }
            }
          }

          li {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 0.7rem;
            padding: 0.2rem 0.5rem;

            background: var(--color-grayscale-input-800);

            border: 1px solid var(--font-color-gray-700);
            border-radius: 3px;

            cursor: pointer;

            img {
              width: 20px;
              height: 20px;
            }

            p {
              color: var(--font-color-gray-main);
              font-weight: 500;
              font-size: var(--font-size-s);
              margin-left: 0.3rem;
            }

            .onBookmark {
              animation: heartAnimation 0.5s ease;
            }

            &:hover {
              border: 1px solid var(--primary-color-defualt-01);
            }
          }
        }
      }
    }

    // 2
    .infoBox {
      background: var(--color-grayscale-web-card);
      .infoHeader {
        height: 48px;

        padding: 0 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        color: var(--font-color-gray-100);

        border-bottom: 1px solid var(--color-grayscale-input-700);

        img {
          width: 20px;
          height: 20px;

          cursor: pointer;
        }
      }

      &.open .infoGroup {
        display: block;
        border-bottom: 1px solid var(--color-grayscale-input-700);
      }

      .infoGroup {
        display: none;
        padding: 1rem;

        .topInfo {
          display: flex;
          justify-content: start;
          align-items: center;

          margin-bottom: 0.7rem;

          .isOutside {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 37px;
            height: 19px;

            background: var(--color-ect-info);

            border-radius: 4px;

            color: var(--font-color-gray-700);
            font-weight: 500;
            font-size: var(--font-size-s);

            margin-right: 0.4rem;
          }

          .isParking {
            display: flex;
            justify-content: center;
            align-items: center;

            min-width: 61px;
            height: 19px;

            background: var(--color-ect-accent);

            border-radius: 4px;

            color: var(--white-color);
            font-weight: 500;
            font-size: var(--font-size-s);

            margin-right: 1rem;
          }
        }

        #info {
          width: 100%;

          .line {
            display: flex;
            justify-content: start;
            align-items: center;

            margin-top: 0.2rem;

            img {
              width: 20px;
              height: 20px;
            }

            .info {
              color: var(--font-color-gray-sub);
              font-weight: 500;
              font-size: var(--font-size-m);
              margin-left: 0.3rem;

              line-height: 22px;

              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
      }
    }

    // 3
    .commentContainer {
      width: 100%;

      background: var(--color-grayscale-web-card);

      // margin: 2rem 1rem 4rem 1rem;

      .title {
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        div {
          display: flex;
          align-items: center;

          p {
            color: var(--font-color-gray-100);
            font-weight: 700;
            font-size: var(--font-size-xm);

            margin-right: 0.3rem;
          }

          .cnt {
            color: var(--font-color-gray-400);
            font-weight: 500;
            font-size: var(--font-size-m);
          }
        }
      }

      .commentList.show {
        max-height: 1000px; /* 충분히 큰 값으로 설정 */
        transition: max-height 1.5s ease-in;

        .commentBox {
          overflow-y: auto;
        }
      }

      .commentList {
        // max-height: 200px; /* 원하는 최대 높이 설정 */

        max-height: 0px;

        overflow: hidden;
        transition: max-height 1.3s ease-out;

        .commentBox {
          max-height: calc(5 * 3.7rem); /* 댓글이 5개일 때의 높이 */
          overflow-y: hidden;

          /* 스크롤바 스타일 설정 */
          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #d9d9d9; /* 스크롤바 색상 */
            border-radius: 4px;
            max-height: 3px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: #b3b3b3; /* 호버 시 색상 */
          }

          .inputContainer {
            display: flex;
            align-items: center;

            padding: 1.5rem 1rem;

            border-top: 1px solid var(--color-grayscale-input-700);
            border-bottom: 1px solid var(--color-grayscale-input-700);

            .myImg {
              margin-right: 0.7rem;

              img {
                width: 32px;
                height: 32px;

                object-fit: cover;
              }
            }

            .inputGroup {
              width: 100%;
              height: 38px;

              background: var(--font-color-gray-700);
              border-radius: 5px;
              border: 1px solid var(--font-color-gray-700);

              display: flex;
              align-items: center;

              input {
                width: 100%;
                font-weight: 500;
                font-size: var(--font-size-m);
                color: white;

                margin: 0 1rem;
              }
            }
          }

          .commentGroup {
            display: flex;
            // align-items: center;

            align-items: flex-start;

            padding: 1rem;
            // margin: 1.2rem 0;

            .profileImg {
              border-radius: 50%;
              max-width: 32px;
              max-height: 32px;

              margin-right: 0.7rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                border-radius: 50%;
              }
            }

            .comment {
              flex-grow: 1;
              margin-right: 1rem;

              p {
                color: var(--font-color-gray-500);
                font-weight: 500;
                font-size: var(--font-size-s);

                margin-bottom: 0.3rem;
              }

              div {
                color: var(--font-color-gray-main);
                font-weight: 500;
                font-size: var(--font-size-m);
              }
            }

            .heartGroup {
              width: 41px;
              height: 19px;

              display: flex;
              align-items: center;
              justify-content: center;

              background: var(--color-grayscale-input-800);

              margin-top: 0.85rem;

              border: 1px solid var(--font-color-gray-700);
              border-radius: 3px;

              .cnt {
                color: var(--font-color-gray-main);
                font-weight: 500;
                font-size: var(--font-size-s);

                margin-left: 0.2rem;
                margin-top: 0.1rem;
              }

              img {
                cursor: pointer;
              }

              .onHeart {
                animation: heartAnimation 0.5s ease;
              }

              @keyframes heartAnimation {
                0% {
                  transform: scale(1);
                }
                50% {
                  transform: scale(1.3);
                }
                100% {
                  transform: scale(1);
                }
              }
            }
          }
        }

        .scrollToTopButton {
          // position: absolute; /* 수정: commentBox에 상대적 위치 설정 */
          // bottom: 80px; /* 수정: commentBox의 상단에 위치시키기 위한 값 */
          // left: 50%;
          // transform: translateX(-50%); /* 수정: 가운데 정렬 */
          margin: 0 auto;

          background-color: #656565;
          color: white;

          border: none;
          border-radius: 50%;

          width: 23px;
          height: 23px;

          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          transition: background-color 0.3s;
          z-index: 1000; /* 버튼이 항상 위에 있도록 설정 */

          &:hover {
            background-color: #252525;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    // 3
    .subVideoContainer {
      padding-top: 1rem;
      margin-bottom: 3rem;
      cursor: pointer;
      &:hover {
        background: rgba(2, 0, 57, 1);
        border-radius: 10px;
        border: 0.7px solid gray;
        margin-bottom: 1.9rem;
      }

      .video {
        width: 100%;
        height: 239px;
        // background: rgba(37, 37, 37, 1);
        border-radius: 1px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .group {
        margin: 1rem 1rem 1rem 1rem;

        .title {
          color: white;
          font-weight: 600;
          font-size: var(--font-size-xl);

          margin-bottom: 1rem;
        }

        .info {
          display: flex;
          align-items: center;

          color: white;
          font-weight: 400;
          font-size: var(--font-size-m);

          .cnt {
            margin-right: 1rem;
          }
        }

        .field {
          display: flex;
          align-items: center;

          margin: 1.5rem 0 0 0;

          .profileImg {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            max-width: 40px;
            max-height: 40px;

            margin-right: 1rem;

            img {
              width: 100%;
              height: 100%;

              object-fit: cover;
              border-radius: 50%;
            }
          }

          .name {
            color: white;
            font-weight: 400;
            font-size: var(--font-size-m);
          }
        }
      }
    }

    .paging {
      width: 100%;
      max-width: 105px;
      margin: 0 auto;

      display: flex;
      align-items: center;

      .pageNum {
        display: flex;
        justify-content: center;
        align-items: center;

        background: #1a1a3c;
        width: 41px;
        height: 41px;

        color: white;
        font-weight: 700;
        font-size: var(--font-size-m);

        cursor: pointer;
      }

      img {
        cursor: pointer;
      }
    }
  }
}
