.test {
  margin: 0 auto;
  width: 450px;
  height: 2339px;
  flex-shrink: 0;

  .myPageContainer {
    width: 100%;
    height: 1950px;
    background: var(--GRAY-SCALE-Black_BG, #1a1b1e);
    display: flex;
    justify-content: center;

    .centerContainer {
      width: 410px;
      margin-top: 24px;

      .baseInformation {
        width: 410px;
        height: 403px;
        padding: 32px 20px 32px 20px;
        margin-bottom: 24px;
        flex-shrink: 0;
        border-radius: 12px;
        background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);
        display: flex;
        flex-direction: column;

        .mainTitle {
          width: 370px;
          display: flex;
          justify-content: space-between;
          position: relative;

          .boldText {
            align-self: stretch;
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);
            font-family: Pretendard;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
          }
          .image {
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            cursor: pointer;
          }
        }

        .subTitle {
          align-self: stretch;
          color: var(--grayscale-gray-600-iconsubtext, #75777f);
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          margin-bottom: 16px;
        }

        .profileContainer {
          width: 370px;
          height: 168px;
          padding: 0 16px 0 16px;
          flex-shrink: 0;
          border-radius: 8px;
          opacity: 0.8;
          background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
          display: flex;
          align-items: center;
          .profileImg {
            width: 120px;
            height: 120px;
            flex-shrink: 0;
            margin-right: 24px;

            border-radius: 50%;

            object-fit: cover;
          }
          .profile {
            display: flex;
            flex-direction: column;
            .subscribe {
              display: flex;
              gap: 8px;

              @mixin badge {
                display: flex;
                padding: 0px 8px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 4px;
                background: #00b9d3;
                color: var(--GRAY-SCALE-White, #fff);
                font-family: Pretendard;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; /* 19.2px */
              }

              .sub {
                @include badge;
                background: #00b9d3;
              }

              .noSub {
                @include badge;
                background: #006c7b;
              }

              .date {
                color: #00b9d3;
                font-family: Pretendard;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; /* 19.2px */
              }
            }
            .profileId {
              align-self: stretch;
              color: #fff;
              font-family: Pretendard;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 36px */
              margin-top: 8px;
            }
          }
        }
        .infoContainer {
          display: flex;
          flex-direction: column;
          margin-top: 16px;
          .teamContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            .title {
              color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

              /* BODY/16_medium */
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 25.6px */
            }
            .description {
              display: flex;
              width: 264px;
              height: 38px;
              padding: 8px 16px;
              align-items: center;
              gap: 10px;
              flex-shrink: 0;
              border-radius: 5px;
              border: 1px solid var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
              background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
              color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

              /* BODY/14_medium */
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 22.4px */

              &:hover {
                border: 1px solid var(--Blue-Blue-400, #2458ec);
              }

              input {
                color: var(--font-color-gray-100);

                width: 80%;
              }
            }
          }
          .regionContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

              /* BODY/16_medium */
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 25.6px */
            }
            .dropdown {
              position: relative;
              display: flex;
              width: 128px;
              height: 36px;
              padding: 7px 9px 7px 9px;
              justify-content: space-between;
              align-items: center;
              border-radius: 6px;
              border: 1px solid var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
              background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
              cursor: pointer;

              &:hover {
                border: 1px solid var(--Blue-Blue-400, #2458ec);
              }

              .dropdownTitle {
                text-wrap: nowrap;
                color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

                /* BODY/14_medium */
                font-family: Pretendard;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; /* 22.4px */
              }
              .dropdownImg {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                cursor: pointer;
              }
            }
          }
        }
      }
      .banner {
        width: 410px;
        height: 88px;
        padding: 0 0 0 20px;
        margin-bottom: 24px;
        flex-shrink: 0;
        border-radius: 10px;
        background: linear-gradient(85deg, #2458ec -2.83%, #d2f75a 102.24%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        cursor: pointer;

        &:hover {
          background: linear-gradient(85deg, #5480ff -2.83%, #e0fe7d 102.24%);
        }
        .mainTitle {
          color: var(--GRAY-SCALE-Gray-100, #f9fafe);

          /* SUBTITLE/20_bold */
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 30px */
        }
        .subTitle {
          color: var(--GRAY-SCALE-Gray-300, #d9dadd);

          /* BODY/12_medium */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 19.2px */
        }
      }
      .bananaContainer {
        width: 410px;
        height: 283px;
        padding: 32px 20px 32px 20px;
        flex-shrink: 0;
        border-radius: 12px;
        background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);
        .mainTitle {
          align-self: stretch;
          color: var(--GRAY-SCALE-Gray-100, #f9fafe);

          /* SUBTITLE/20_bold */
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 30px */
        }
        .subTitle {
          color: var(--grayscale-gray-600-iconsubtext, #75777f);

          /* BODY/12_medium */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 19.2px */
          margin-bottom: 16px;
        }
        .countContainer {
          display: flex;
          width: 370px;
          height: 100px;
          padding: 19px 40px;
          margin-bottom: 16px;
          justify-content: flex-start;
          align-items: center;
          gap: 70px;
          flex-shrink: 0;
          border-radius: 8px;
          background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
          .img {
            width: 60px;
            height: 60px;
          }
          .presentContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .present {
              color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

              /* BODY/14_medium */
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 22.4px */
              margin-bottom: 4px;
            }
            .count {
              color: var(--Lemon-Lemon-400, #d2f75a);

              /* SUBTITLE/16_bold */
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 160%; /* 25.6px */
            }
          }
        }
        .buttonContainer {
          display: flex;
          gap: 8px;
          .inviteButton {
            display: flex;
            height: 38px;
            padding: 7px 20px 7px 14px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 1px solid var(--Blue-Blue-300, #5783ff);
            background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
            color: var(--Blue-Blue-300, #5783ff);
            text-align: center;
            white-space: nowrap;
            cursor: pointer;

            /* SUBTITLE/16_bold */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%; /* 25.6px */
          }
          .chargeButton {
            display: flex;
            height: 38px;
            padding: 7px 18px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: var(--Blue-Blue-400, #2458ec);
            color: #fff;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;

            /* SUBTITLE/16_bold */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%; /* 25.6px */
          }
        }
      }
      .reservationContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 410px;
        height: 129px;
        flex-shrink: 0;
        border-radius: 12px;
        background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);
        margin-top: 24px;
        padding: 40px 20px 40px 20px;
        .textContainer {
          .title {
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);

            /* SUBTITLE/20_bold */
            font-family: Pretendard;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
          }
          .count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: var(--Blue-Blue-400, #2458ec);
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);

            /* SUBTITLE/16_bold */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%; /* 25.6px */
          }
          .subTitle {
            color: var(--grayscale-gray-600-iconsubtext, #75777f);

            /* BODY/12_medium */
            font-family: Pretendard;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 19.2px */
          }
        }
        .detail {
          display: flex;
          width: 137px;
          height: 38px;
          padding: 7px 18px 7px 16px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          border-radius: 5px;
          background: var(--Blue-Blue-400, #2458ec);
          color: #fff;
          text-align: center;

          /* SUBTITLE/16_bold */
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 25.6px */
          cursor: pointer;
        }
      }
      .saveContainer {
        margin-top: 80px;

        .title {
          color: var(--GRAY-SCALE-Gray-100, #f9fafe);

          /* SUBTITLE/20_bold */
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 30px */
          margin-bottom: 16px;
        }

        .videoGrid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 12px;
          margin-bottom: 12px;

          .videoCard {
            border-radius: 8px;
            display: flex;
            flex-direction: column;

            .thumbnail {
              width: 199px;
              height: 112px;
              background-color: #444;
              border-radius: 8px;
              margin-bottom: 8px;
            }

            .videoInfo {
              .videoTitle {
                color: var(--GRAY-SCALE-Gray-100, #f9fafe);

                /* SUBTITLE/16_bold */
                font-family: Pretendard;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 160%; /* 25.6px */
              }

              .videoDetails {
                display: flex;
                flex-direction: column;
                .videoField {
                  color: var(--grayscale-gray-600-iconsubtext, #75777f);

                  /* BODY/12_bold */
                  font-family: Pretendard;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 160%; /* 19.2px */
                }

                .videoTime {
                  color: var(--grayscale-gray-600-iconsubtext, #75777f);

                  /* BODY/12_bold */
                  font-family: Pretendard;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 160%; /* 19.2px */
                }
              }
            }
          }
        }

        .pagination {
          display: flex;
          justify-content: center;
          gap: 19px;
          color: var(--grayscale-gray-600-iconsubtext, #75777f);
          text-align: center;

          /* BODY/12_medium */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 19.2px */

          .pageNumber {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
          .active {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            border-radius: 3px;
            background: var(--Blue-Blue-400, #2458ec);
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);
            text-align: center;

            /* BODY/12_medium */
            font-family: Pretendard;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 19.2px */
          }
          .button {
            color: #eff0f4;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// 로그아웃 드롭다운

.dropDownContainer {
  display: flex;
  width: 120px;
  height: 70px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: 3;
  flex-shrink: 0;
  gap: 2px;
  border-radius: 5px;
  background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

  /* shadow2 */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  .dropDownItem {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

    /* BODY/12_medium */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 19.2px */

    &:hover {
      background: var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
      color: white;
      cursor: pointer;
    }
  }
}

.dropdownMenu {
  position: absolute;
  top: 35px;
  right: 0px;
  display: flex;
  padding: 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.35);

  .dropdownItem {
    display: flex;
    width: 112px;
    height: 32px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);
    color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

    /* BODY/14_medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 22.4px */

    &:hover {
      background: var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
    }
  }
}

.modalContainer {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  .modalCard {
    display: flex;
    width: 320px;
    height: 466px;
    padding-bottom: 418px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

    /* card shadow1 */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    .modalHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      .modalHeaderText {
        color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

        /* SUBTITLE/16_bold */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        padding: 11px;
        width: 230px;
        text-align: center;
        margin-left: 30px;
      }
      .close {
        cursor: pointer;
        margin-bottom: 3px;
      }
    }
    .modalImg {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      margin-top: 30px;
      margin-bottom: 8px;
    }
    .modalText {
      margin-bottom: 40px;
      color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);
      text-align: center;

      /* BODY/12_medium */
      font-family: Pretendard;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 19.2px */
    }
    .bananaContainer {
      display: flex;
      align-items: center;
      width: 301px;
      height: 46px;
      padding: 10px;
      gap: 10px;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
        .numOfBanana {
          .button {
            border: 1px solid #2458ec;
          }
        }
      }

      .numOfBanana {
        display: flex;
        gap: 8px;
        align-items: center;
        .button {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #75777f;
          &.clicked {
            background: #2458ec;
          }
        }
        .banana {
          color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

          /* BODY/12_medium */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 19.2px */
        }
        .bananaNum {
          color: var(--Lemon-Lemon-400, #d2f75a);

          /* SUBTITLE/14_bold */
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 22.4px */
        }
      }
      .price {
        color: var(--GRAY-SCALE-Gray-100, #f9fafe);
        text-align: right;

        /* SUBTITLE/16_bold */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
      }
    }
    .payment {
      margin-top: 24px;
      display: flex;
      width: 280px;
      height: 38px;
      padding: 7px 16px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      flex-shrink: 0;
      border-radius: 5px;
      background: var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
      color: var(--GRAY-SCALE-Gray-500, #93959d);
      text-align: center;

      /* SUBTITLE/16_bold */
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%; /* 25.6px */

      &.clicked {
        background: var(--Blue-Blue-400, #2458ec);
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.benefitContainer {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  .benefit {
    display: flex;
    width: 320px;
    height: 280px;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

    /* card shadow1 */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    .modalHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      .modalHeaderText {
        color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

        /* SUBTITLE/16_bold */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        padding: 11px;
        width: 230px;
        text-align: center;
        margin-left: 30px;
      }
      .close {
        cursor: pointer;
        margin-bottom: 3px;
      }
    }
    .detailContainer {
      padding: 20px;
      .detail {
        display: flex;
        gap: 8px;
        margin-bottom: 16px;
        .img {
          width: 32px;
          height: 32px;
        }
        .text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--GRAY-SCALE-Gray-400, #c5c6cb);
          text-align: center;

          /* SUBTITLE/14_bold */
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 22.4px */
        }
      }
      .button {
        display: flex;
        width: 280px;
        height: 38px;
        padding: 7px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--Blue-Blue-400, #2458ec);
        cursor: pointer;
        color: #fff;
        text-align: center;

        /* SUBTITLE/16_bold */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
      }
    }
  }
}
