.test {
  margin: 0 auto;
  width: 100%;
  // height: 2339px;
  flex-shrink: 0;

  .myPageContainer {
    width: 100%;
    // height: 1950px;
    background: var(--GRAY-SCALE-Black_BG, #1a1b1e);
    // display: flex;
    // justify-content: center;
    // padding: 0 1rem;
    // margin: 0 auto;

    .centerContainer {
      // width: 410px;
      // width: 80%;

      padding-top: 24px;
      // padding: 0 1rem;

      .baseInformation {
        // display: flex;
        // flex-direction: column;
        // width: 410px;

        width: 90%;
        margin: 0 auto;

        // height: 403px;
        padding: 32px 20px 32px 20px;

        margin-bottom: 24px;
        // flex-shrink: 0;
        border-radius: 12px;
        background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

        .changeInfo {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 38px;

          margin: 2rem auto 0 auto;

          text-align: center;

          border-radius: 5px;

          cursor: pointer;

          background: var(--main-color-blue-04);
          font-weight: 700;
          font-size: var(--font-size-xm);
        }

        .mainTitle {
          // width: 370px;
          display: flex;
          justify-content: space-between;
          position: relative;

          .boldText {
            align-self: stretch;
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);
            font-family: Pretendard;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
          }
          .image {
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            cursor: pointer;
          }
        }

        .subTitle {
          align-self: stretch;
          color: var(--grayscale-gray-600-iconsubtext, #75777f);
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          margin-bottom: 16px;
        }

        .profileContainer {
          display: flex;
          align-items: center;

          // width: 370px;
          height: 168px;

          padding: 0 16px 0 16px;
          flex-shrink: 0;

          border-radius: 8px;
          opacity: 0.8;
          background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);

          .profileGroup {
            position: relative;
            .profileImg {
              width: 120px;
              height: 120px;
              flex-shrink: 0;
              margin-right: 24px;

              border-radius: 50%;

              object-fit: cover;
            }

            .editProfileImg {
              width: 120px;
              height: 120px;
              flex-shrink: 0;
              margin-right: 24px;

              border-radius: 50%;

              object-fit: cover;

              &:hover {
                opacity: 0.7; // 이미지가 살짝 투명해짐
              }
            }

            .overlay {
              position: absolute;
              top: 0;
              left: 0;

              display: flex;
              align-items: center;
              justify-content: center;

              width: 120px;
              height: 120px;

              background-color: rgba(0, 0, 0, 0.8); // 검정색 반투명 배경

              border-radius: 50%;

              opacity: 0; // 기본적으로 보이지 않도록 설정
              transition: opacity 0.3s ease; // hover 시 나타나는 애니메이션

              cursor: pointer;

              &:hover {
                opacity: 1; // hover 시 보이게 설정
              }

              .editButton {
                width: 24px;
                height: 24px;
                opacity: 0.8;
                transition:
                  transform 0.3s ease,
                  opacity 0.3s ease;

                &:hover {
                  opacity: 1; // hover 시 버튼이 더 뚜렷하게 보임
                  transform: scale(1.1); // hover 시 아이콘 약간 확대
                }
              }
            }
          }

          .profile {
            display: flex;
            flex-direction: column;
            align-items: start;

            .subscribe {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;

              @mixin badge {
                padding: 1px 8px 0 8px;

                gap: 10px;
                border-radius: 4px;
                background: #00b9d3;
                color: var(--GRAY-SCALE-White, #fff);
                font-family: Pretendard;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; /* 19.2px */
              }

              .sub {
                @include badge;
                background: #00b9d3;
              }

              .noSub {
                @include badge;
                background: #006c7b;
              }

              .date {
                color: #00b9d3;
                font-family: Pretendard;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; /* 19.2px */
              }
            }
            .profileId {
              align-self: stretch;
              color: #fff;
              font-family: Pretendard;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 36px */
              margin-top: 8px;
            }
          }
        }
        .infoContainer {
          display: flex;
          flex-direction: column;
          margin-top: 16px;

          .teamContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            .title {
              width: 30%;

              color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

              /* BODY/16_medium */
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 25.6px */
            }

            @mixin description {
              display: flex;
              align-items: center;

              width: 70%;
              height: 38px;

              padding: 8px 16px;
              margin-left: 0.5rem;

              flex-shrink: 0;
              border-radius: 5px;
              border: 1px solid var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
              background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
              color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

              /* BODY/14_medium */
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 22.4px */
            }

            .des {
              @include description;
            }

            .noTeam {
              color: var(--font-color-gray-sub);
            }

            .editDes {
              @include description;

              &:hover {
                border: 1px solid var(--Blue-Blue-400, #2458ec);
              }

              input {
                color: var(--font-color-gray-100);

                width: 80%;
              }
            }
          }

          .regionContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
              width: 30%;
              color: var(--GRAY-SCALE-Gray-400, #c5c6cb);
              // margin-right: 1rem;

              /* BODY/16_medium */
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 25.6px */
            }

            .regionDropDown {
              width: 70%;

              display: flex;
              align-items: center;
              justify-content: space-between;

              gap: 0.5rem;

              @mixin dropdown {
                position: relative;

                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 73%;
                height: 36px;

                padding: 7px 9px 7px 17px;

                border-radius: 6px;
                border: 1px solid var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
                background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
              }

              .userRegion {
                @include dropdown;

                .dropdownTitle {
                  text-wrap: nowrap;
                  color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

                  /* BODY/14_medium */
                  font-family: Pretendard;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 160%; /* 22.4px */
                }

                .noInfo {
                  color: var(--font-color-gray-sub);
                }
              }

              .editRegion {
                @include dropdown;

                cursor: pointer;

                &:hover {
                  border: 1px solid var(--Blue-Blue-400, #2458ec);
                }

                .dropdownImg {
                  width: 16px;
                  height: 16px;
                  flex-shrink: 0;
                }

                .dropdownTitle {
                  text-wrap: nowrap;
                  color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

                  /* BODY/14_medium */
                  font-family: Pretendard;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 160%; /* 22.4px */
                }
              }
            }
          }
        }
      }
      .banner {
        width: 90%;
        height: 88px;

        padding: 0 0 0 20px;
        margin: 0 auto 24px auto;

        flex-shrink: 0;
        border-radius: 10px;
        background: linear-gradient(85deg, #2458ec -2.83%, #d2f75a 102.24%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        cursor: pointer;

        &:hover {
          background: linear-gradient(85deg, #5480ff -2.83%, #e0fe7d 102.24%);
        }
        .mainTitle {
          color: var(--GRAY-SCALE-Gray-100, #f9fafe);

          /* SUBTITLE/20_bold */
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 30px */
        }
        .subTitle {
          color: var(--GRAY-SCALE-Gray-300, #d9dadd);

          /* BODY/12_medium */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 19.2px */
        }
      }
      .bananaContainer {
        width: 90%;
        height: 283px;

        margin: 0 auto;
        padding: 32px 20px 32px 20px;

        border-radius: 12px;
        background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

        .mainTitle {
          color: var(--GRAY-SCALE-Gray-100, #f9fafe);

          /* SUBTITLE/20_bold */
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 30px */
        }
        .subTitle {
          color: var(--grayscale-gray-600-iconsubtext, #75777f);

          /* BODY/12_medium */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 19.2px */
          margin-bottom: 16px;
        }
        .countContainer {
          display: flex;
          // width: 370px;
          height: 100px;
          padding: 19px 40px;
          margin-bottom: 16px;
          justify-content: space-between;
          align-items: center;

          flex-shrink: 0;
          border-radius: 8px;
          background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);

          .img {
            width: 60px;
            height: 60px;
          }

          .presentContainer {
            .present {
              color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

              /* BODY/14_medium */
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 22.4px */
              margin-bottom: 4px;
            }
            .count {
              color: var(--Lemon-Lemon-400, #d2f75a);

              /* SUBTITLE/16_bold */
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 160%; /* 25.6px */
            }
          }
        }

        .buttonContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media (max-width: 410px) {
            gap: 0.5rem;
          }

          .inviteButton {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 38px;
            // padding: 7px 14px 7px 14px;
            padding: 0 0.7rem;

            gap: 0.3rem;

            border-radius: 5px;
            border: 1px solid var(--font-color-gray-main);
            background: var(--GRAY-SCALE-Gray-800_-INPUT-FIELD, #323339);
            color: var(--font-color-gray-main);

            text-align: center;

            cursor: pointer;

            /* SUBTITLE/16_bold */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            // line-height: 160%; /* 25.6px */

            @media (max-width: 410px) {
              height: 50px;
              display: block;

              width: 50%;
              padding: 0.3rem 0.7rem;
            }
          }
          .chargeButton {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 38px;
            padding: 7px 18px;

            border-radius: 5px;
            background: var(--Blue-Blue-400, #2458ec);

            color: #fff;
            text-align: center;

            cursor: pointer;

            /* SUBTITLE/16_bold */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;

            @media (max-width: 410px) {
              // width: 50%;
              height: 50px;
              padding: 1rem 18px;
            }
          }
        }
      }

      .reservationContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 24px auto 0 auto;
        padding: 40px 20px 40px 20px;

        width: 90%;
        height: 129px;

        flex-shrink: 0;
        border-radius: 12px;
        background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

        .textContainer {
          .title {
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);

            /* SUBTITLE/20_bold */
            font-family: Pretendard;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
          }
          .count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: var(--Blue-Blue-400, #2458ec);
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);

            /* SUBTITLE/16_bold */
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%; /* 25.6px */
          }
          .subTitle {
            color: var(--grayscale-gray-600-iconsubtext, #75777f);

            /* BODY/12_medium */
            font-family: Pretendard;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 19.2px */
          }
        }
        .detail {
          display: flex;
          width: 137px;
          height: 38px;
          padding: 7px 18px 7px 16px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          border-radius: 5px;
          background: var(--Blue-Blue-400, #2458ec);
          color: #fff;
          text-align: center;

          /* SUBTITLE/16_bold */
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 25.6px */
          cursor: pointer;
        }

        .noDetail {
          display: flex;
          width: 137px;
          height: 38px;
          padding: 7px 18px 7px 16px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          border-radius: 5px;
          background: var(--Blue-Blue-400, #2458ec);
          color: #fff;
          text-align: center;

          /* SUBTITLE/16_bold */
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 25.6px */

          opacity: 0.5;
        }
      }

      .saveContainer {
        width: 90%;
        margin: 4.5rem auto 0 auto;
        padding-bottom: 4rem;

        .title {
          color: var(--GRAY-SCALE-Gray-100, #f9fafe);

          /* SUBTITLE/20_bold */
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 30px */
          margin-bottom: 16px;
        }

        .noReserve {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          margin: 3rem 0;

          img {
            width: 168px;
            height: 108px;

            object-fit: cover;
          }

          .title {
            margin-top: 2rem;
            color: var(--font-color-gray-400);
            font-weight: 500;
            font-size: var(--font-size-sl);
          }
        }

        .videoGrid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 12px;
          margin-bottom: 12px;

          .videoCard {
            border-radius: 8px;
            display: flex;
            flex-direction: column;

            cursor: pointer;

            .thumbnail {
              // width: 199px;
              width: 100%;
              height: 112px;
              background-color: #444;
              border-radius: 8px;
              margin-bottom: 8px;

              object-fit: cover;
            }

            .videoInfo {
              .videoTitle {
                color: var(--GRAY-SCALE-Gray-100, #f9fafe);

                /* SUBTITLE/16_bold */
                font-family: Pretendard;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 160%; /* 25.6px */
              }

              .videoDetails {
                display: flex;
                flex-direction: column;
                .videoField {
                  color: var(--grayscale-gray-600-iconsubtext, #75777f);

                  /* BODY/12_bold */
                  font-family: Pretendard;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 160%; /* 19.2px */
                }

                .videoTime {
                  color: var(--grayscale-gray-600-iconsubtext, #75777f);

                  /* BODY/12_bold */
                  font-family: Pretendard;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 160%; /* 19.2px */
                }
              }
            }
          }
        }

        .pagination {
          display: flex;
          justify-content: center;
          gap: 19px;
          color: var(--grayscale-gray-600-iconsubtext, #75777f);
          text-align: center;

          /* BODY/12_medium */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 19.2px */

          .pageNumber {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
          .active {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            border-radius: 3px;
            background: var(--Blue-Blue-400, #2458ec);
            color: var(--GRAY-SCALE-Gray-100, #f9fafe);
            text-align: center;

            /* BODY/12_medium */
            font-family: Pretendard;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 19.2px */
          }
          .button {
            color: #eff0f4;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// 로그아웃 드롭다운

.dropDownContainer {
  display: flex;
  width: 120px;
  height: 70px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: 3;
  flex-shrink: 0;
  gap: 2px;
  border-radius: 5px;
  background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

  /* shadow2 */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  .dropDownItem {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    color: var(--GRAY-SCALE-Gray-400, #c5c6cb);

    /* BODY/12_medium */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 19.2px */

    &:hover {
      background: var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
      color: white;
      cursor: pointer;
    }
  }
}

.dropdownMenu {
  width: 100%;

  position: absolute;
  top: 35px;
  right: 0px;
  display: flex;

  padding: 0 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.35);

  max-height: 160px;
  overflow-y: auto;

  .dropdownItem {
    display: flex;
    align-items: center;

    width: 100%;
    height: 32px;

    padding: 7px 9px 7px 9px;

    border-radius: 5px;

    background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);
    color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

    /* BODY/14_medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 22.4px */

    &:hover {
      background: var(--GRAY-SCALE-Gray-700_DISABLE, #37383e);
    }
  }
}

.benefitContainer {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  .benefit {
    display: flex;
    width: 320px;
    height: 334px;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--GRAY-SCALE-Gray-900_CARD, #2b2c31);

    /* card shadow1 */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    .modalHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      .modalHeaderText {
        color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);

        /* SUBTITLE/16_bold */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        padding: 11px;
        width: 230px;
        text-align: center;
        margin-left: 30px;
      }
      .close {
        cursor: pointer;
        margin-bottom: 3px;
      }
    }

    .hr {
      width: 100%;
      border-top: 1px solid var(--font-color-gray-700);
    }

    .detailContainer {
      padding: 20px;
      .detail {
        display: flex;
        gap: 8px;
        margin-bottom: 1rem;

        .img {
          width: 32px;
          height: 32px;
        }

        .text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--GRAY-SCALE-Gray-400, #c5c6cb);
          text-align: center;

          /* SUBTITLE/14_bold */
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 22.4px */
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 1.5rem;

        width: 280px;
        height: 38px;

        padding: 7px 16px;

        gap: 4px;
        flex-shrink: 0;
        border-radius: 5px;

        background: var(--Blue-Blue-400, #2458ec);
        cursor: pointer;
        color: #fff;
        text-align: center;

        /* SUBTITLE/16_bold */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
    }
  }
}
