.main {
  background-color: aquamarine;
  width: 100%;
  // width: 760px;
  // margin-bottom: 146px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: brown;

    .intro {
      background-color: #33495c;

      .introText {
        background-color: #702b2b;
        font-size: var(--font-size-xl);
        font-weight: 600px;

        #yellow {
          color: var(--sub-color-yellow-01);
        }

        span {
          background-color: burlywood;
        }
      }

      .object {
        display: flex;
        justify-content: flex-end;
        background-color: teal;

        img {
          background-color: #3bacac;
        }
      }
    }

    .stadium {
      background-color: #f1f96f;
      // margin-bottom: 205px;

      .group {
        background-color: #f2386f;
        display: flex;
        justify-content: center;
        font-family: var(--font-size-m);
        // margin-bottom: 77px;

        #checkbox {
          background-color: #29138f;
          // margin-right: 59px;
        }

        .about {
          background-color: #85138f;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          >span {
            // margin-bottom: 1.2px;
          }
        }
      }

      .images {
        background-color: #ff138f;
        display: flex;
        justify-content: center;

        img {
          background-color: #f403ff;
        }
      }
    }

    .video {
      background-color: #fe4f3f;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-s);



      .objectStroke {
        // 아웃라인으로 있어야 함
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >.object {
          background-color: #0057FF;
          display: flex;
          justify-content: center;

          span {
            background-color: #471ae9;
          }

          #images {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;

            img {
              background-color: #4a1e19;
              // border-radius: 20px;
            }
          }
        }
      }

      #title {
        // border: solid 2px white;
        // border-radius: 2px;
        // padding: 4px;
      }

      #info {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-left: 20px;
      }

      .outObject {
        display: flex;
        flex-direction: column;

        .stadiumName {
          display: flex;
          flex-direction: row;
          background-color: #34ff3f;
          // margin-bottom: 22px;
        }

        .stadiumDate {
          display: flex;
          flex-direction: row;
          background-color: #34ff3f;
        }
      }

    }

    .info {
      background-color: #34ff3f;
      // margin-left: 32px;

      .group {
        background-color: #f4ff3f;

        >span {
          background-color: #ff9f3f;
          font-size: var(--font-size-l);
        }

        .images {
          background-color: #3f2f39;
          display: flex;
          flex-direction: row;
          // margin-top: 30px;

          >div {
            background-color: #3433ff;
            display: flex;
            flex-direction: column;
            // margin: 0px 25px 20px 0px;

            >div {
              background-color: black;
              font-size: var(--font-size-s);
              display: flex;
              justify-content: flex-end;
              // margin-top: 20px;
            }
          }
        }
      }
    }
  }
}