.test {
  width: 100%;

  .main {
    // background-color: var(--guide-line-color);
    color: var(--white-color);
    margin: 0 auto;

    // 1
    .banner {
      display: flex;
      justify-content: center;
      position: relative;

      height: 700px;

      // justify-content: center;
      // align-items: center;

      .mainBanner {
        position: relative;
        z-index: 1;

        width: 100%;
      }

      .bannerCover {
        position: absolute;
        z-index: 2;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      .mainLogo {
        position: absolute;
        z-index: 3;
        bottom: 19rem;
      }

      .mainDes {
        position: absolute;
        z-index: 3;

        bottom: 3rem;

        width: 339px;

        .desTitle {
          color: var(--primary-color-defualt-01);
          font-size: var(--font-size-xm);
          font-weight: 700;

          margin-bottom: 1rem;
        }

        .des {
          color: var(--font-color-gray-sub);
          font-size: var(--font-size-m);
          font-weight: 500;

          line-height: 1.5rem;
        }
      }
    }

    // 2
    .mockUp {
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
      // padding-top: 3rem;

      position: relative;
      z-index: 0;

      height: 1264px;
      background: linear-gradient(
        180deg,
        #060706 17.56%,
        rgba(15, 15, 15, 0) 87.8%
      );

      // background-image: url(../image/gradientBg.svg);
      .gradientBg {
        position: relative;
        z-index: 1;
      }

      .mockUpDes {
        position: absolute;
        z-index: 1;

        padding-top: 6rem;

        text-align: center;

        .mockUpDesText {
          color: var(--font-color-gray-100);
          font-size: var(--font-size-xl);
          font-weight: 700;
          line-height: 42px;

          span {
            color: var(--font-color-lemon-400);
          }
        }
      }

      .iphoneMockup {
        position: absolute;
        z-index: 1;

        bottom: 10rem;

        width: 381px;
        height: 770px;
      }
    }

    .container {
      width: 95.11%;
      margin: 0 auto;
      // background-color: brown;

      @keyframes float {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px); /* 떠다니는 높이 조정 */
        }
        100% {
          transform: translateY(0);
        }
      }

      .intro {
        // background-color: #33495c;
        margin: 0 auto;
        margin-bottom: 4rem;

        > div {
          display: flex;
          justify-content: space-between;

          .introText {
            // background-color: #702b2b;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: var(--font-size-xm);
            margin-bottom: 8.8125rem;

            #yellow {
              color: var(--sub-color-yellow-01);
            }

            > span,
            > div {
              margin-bottom: 0.3125rem;
            }
          }

          .object {
            display: flex;
            justify-content: flex-end;
            // background-color: teal;

            img {
              animation: float 3s ease-in-out infinite;
            }
          }
        }
      }

      .stadium {
        // background-color: #f1f96f;
        // margin-bottom: 205px;

        > .group {
          // background-color: #f2386f;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: var(--font-size-m);
          margin-bottom: 2.25rem;
          margin-left: 2.9375rem;

          #checkbox {
            // background-color: #29138f;
            margin-bottom: 2rem;

            img {
              animation: float 3s ease-in-out infinite; /* 애니메이션 적용 */
            }
          }

          .about {
            // background-color: #85138f;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            > span {
              // margin-bottom: 1.2px;
            }
          }
        }

        .images {
          // background-color: #ff138f;
          display: flex;
          justify-content: center;
          margin-bottom: 4.4375rem;

          img {
            // background-color: #f403ff;
          }
        }
      }

      .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--font-size-s);
        margin-bottom: 5rem;

        cursor: pointer;

        .imageContainer {
          position: relative;
          display: inline-block; /* 필요한 경우 이 속성을 추가 */

          .backgroundImage {
            width: 100%; /* 필요한 경우 크기를 설정 */
            height: auto; /* 필요한 경우 크기를 설정 */
          }

          .overlayImage {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 298px; /* 오버레이 이미지의 크기를 적절히 조정 */
            height: 168px; /* 오버레이 이미지의 크기를 적절히 조정 */
          }
        }

        &:hover {
          // background-color: #020039;
          // padding: 1rem;
        }

        #content {
          font-weight: 600;
          font-size: var(--font-size-l);
          margin: 0 auto;
        }

        #group {
          display: flex;
          flex-direction: row;
          justify-content: center;

          #content,
          #group {
            margin: 0 auto;
          }

          .name,
          .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;

            > span {
              margin: 0.625rem 0 0.625rem 0;
            }
          }

          .name {
            > span {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 0.0625rem solid var(--white-color);
              margin-right: 0.9375rem;
              width: 5.625rem;
              height: 1.875rem;
            }
          }

          .detail {
            > span {
              margin: auto;
            }
          }
        }

        > img {
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
        }
      }

      .info {
        // background-color: #34ff3f;

        .group {
          // background-color: #f4ff3f;

          #effect {
            display: flex;
            align-items: center;
            margin-bottom: 2.375rem;
            // flex-direction: row;

            > span {
              display: flex;
              // background-color: #ff9f3f;
              font-size: var(--font-size-xm);
              margin: 0 0.5rem;
            }
          }

          .images {
            // background-color: #3f2f39;
            // width: 100%;

            margin: auto;

            .stadiumList {
              // background-color: red;
              margin: 0 auto;
              width: 90%;

              display: flex;
              align-items: center;

              .items {
                // background-color: #3433ff;
                display: flex;
                // flex-direction: column;
                align-items: end;
                justify-content: end;
                // margin: 0 1.5625rem 1.25rem 0;
                margin-bottom: 1.25rem;

                img {
                  width: 163px;
                  height: 122px;

                  border-radius: 10px;

                  cursor: pointer;
                }

                div {
                  // background-color: black;
                  font-size: var(--font-size-s);
                  display: flex;
                  justify-content: flex-end;
                  margin-top: 0.9375rem;

                  @media (min-width: 450px) {
                    margin-right: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
