.test {
  width: 100%;

  .main {
    // background-color: var(--guide-line-color);
    color: var(--white-color);
    margin: 0 auto;

    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5.75rem;
    }

    .container {
      width: 95.11%;
      margin: 0 auto;
      // background-color: brown;

      .intro {
        // background-color: #33495c;
        margin: 0 auto;
        margin-bottom: 19.5rem;

        >div {
          display: flex;
          justify-content: space-between;

          .introText {
            // background-color: #702b2b;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: var(--font-size-xm);
            margin-bottom: 8.8125rem;

            #yellow {
              color: var(--sub-color-yellow-01);
            }

            >span,
            >div {
              margin-bottom: 0.3125rem;
            }
          }

          .object {
            display: flex;
            justify-content: flex-end;
            // background-color: teal;

            img {
              // background-color: #3bacac;
            }
          }
        }
      }

      .stadium {
        // background-color: #f1f96f;
        // margin-bottom: 205px;

        >.group {
          // background-color: #f2386f;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: var(--font-size-m);
          margin-bottom: 2.25rem;
          margin-left: 2.9375rem;

          #checkbox {
            // background-color: #29138f;
            margin-bottom: 2rem;
          }

          .about {
            // background-color: #85138f;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            >span {
              // margin-bottom: 1.2px;
            }
          }
        }

        .images {
          // background-color: #ff138f;
          display: flex;
          justify-content: center;
          margin-bottom: 4.4375rem;

          img {
            // background-color: #f403ff;
          }
        }
      }

      .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--font-size-s);
        margin-bottom: 5rem;

        #content {
          margin: 0 auto;
        }

        #group {
          display: flex;
          flex-direction: row;
          justify-content: center;

          #content,
          #group {
            margin: 0 auto;
          }

          .name,
          .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;

            >span {
              margin: 0.625rem 0 0.625rem 0;
            }
          }

          .name {
            >span {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 0.0625rem solid var(--white-color);
              margin-right: 0.9375rem;
              width: 5.625rem;
              height: 1.875rem;
            }
          }

          .detail {
            >span {
              margin: auto
            }
          }
        }

        >img {
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
        }
      }

      .info {
        // background-color: #34ff3f;

        .group {
          // background-color: #f4ff3f;

          #effect {
            margin-bottom: 2.375rem;
            flex-direction: row;

            >span {
              display: flex;
              // background-color: #ff9f3f;
              font-size: var(--font-size-xm);
            }
          }

          .images {
            // background-color: #3f2f39;
            display: flex;
            flex-direction: row;

            >div {
              // background-color: #3433ff;
              display: flex;
              flex-direction: column;
              margin: 0 1.5625rem 1.25rem 0;

              >div {
                // background-color: black;
                font-size: var(--font-size-s);
                display: flex;
                justify-content: flex-end;
                margin-top: 0.9375rem;
              }
            }
          }
        }
      }
    }
  }
}