.clipboardModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;

  background-color: var(--color-grayscale-web-card);
  // background-color: rgba(0, 0, 0, 0.7);
  color: var(--font-color-gray-main);
  padding: 16px 24px;

  border-radius: 10px;
  border: 1px solid var(--font-color-gray-700);
  box-shadow: 0px 4px 4px 0px #00000040;

  display: flex;
  align-items: center;
  gap: 8px;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.clipboardModal img {
  display: inline-block;
}

.show {
  opacity: 1;
  visibility: visible;
}
