.footer {
  .container {
    background-color: var(--color-grayscale-black-bg);

    .footerMenu {
      width: 100%;
      height: 52px;

      padding: 0 3.5rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      color: var(--font-color-gray-main);
      font-size: var(--font-size-s);
      font-weight: 700;

      border-bottom: 1px solid var(--color-grayscale-input-800);

      div {
        cursor: pointer;
      }
    }

    .group {
      padding: 2rem 2rem 4rem 2rem;

      #image {
        cursor: pointer;
      }

      .info {
        padding: 1rem 0;
        color: var(--font-color-gray-sub);
        font-size: var(--font-size-s);
        font-weight: 500;

        line-height: 24.2px;
      }

      .bottomGroup {
        color: var(--font-color-gray-main);
        font-size: var(--font-size-s);
        font-weight: 700;

        line-height: 19.2px;

        display: flex;
        justify-content: space-between;

        .terms {
          a {
            margin-right: 1.5rem;

            cursor: pointer;
          }
        }

        .shortcut {
          display: flex;

          img {
            margin-left: 0.6rem;

            cursor: pointer;
          }
        }
      }
    }
  }
}
