.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: var(--font-size-s);

  width: 100%;

  .container {
    // background-color: aqua;
    color: white;

    #image {}

    .contents {
      background-color: tomato;
      display: flex;
      flex-direction: row;

      div {}
    }

    .copyright {
      background-color: blueviolet;

      #terms {
        background-color: crimson;
        text-decoration: underline;
      }

      >#policy {
        background-color: crimson;
        text-decoration: underline;
      }
    }

    .group {
      display: flex;
      flex-direction: row;

      .info {
        background-color: burlywood;
        display: flex;
        flex-direction: column;

        span {}
      }

      .shortcut {
        display: flex;
        background-color: #ffffff;

        #kakao {}
      }
    }
  }
}