.footer {
  background-color: var(--guide-line-color);

  .container {
    background-color: var(--main-color-blue-01);
    // height: 18.0625rem;
    height: 20.9375rem;
    // margin: 1.875rem 1.11rem 2.875rem 1.11rem;
    margin: 1.875rem 1.31rem 0 1.31rem;

    .group {

      font-size: var(--font-size-s);
      color: white;


      #image {
        margin-bottom: 2.0625rem;
      }

      .contents {
        background-color: tomato;
        display: flex;
        flex-direction: row;
        margin-bottom: 3.125rem;

        div {
          margin-right: 1.25rem;
        }
      }

      .copyright {
        background-color: blueviolet;
        // max-width: 100%;

        #terms {
          background-color: crimson;
          text-decoration: underline;
          margin: 0 1.445625rem 0 11.6%;
        }

        >#policy {
          background-color: crimson;
          text-decoration: underline;
        }
      }

      >.warp {
        display: flex;
        flex-direction: row;

        >.info {
          background-color: burlywood;
          display: flex;
          flex-direction: column;
          // justify-content: flex-end;
          // width: 13.625rem;
          width: 23.015rem;
          height: 7.1875rem;
          // margin-right: 9.39rem;

          span {
            margin-top: 0.6rem;
          }
        }

        .shortcut {
          display: flex;
          align-items: flex-end;
          background-color: #ffffff;

          #kakao {
            margin-left: 0.625rem;
          }
        }
      }
    }
  }
}