.header {
  width: 100%;
  // background-color: var(--guide-line-color);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.125rem;
    font-size: var(--font-size-s);

    #image {
      margin: 0 1.8125rem 0.286rem 1.4375rem
    }

    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.625rem;
      // height: 1.9rem;
      height: 1.9rem;
      // margin-left: 1.0rem;
      transform: skew(-40deg);

      div {
        transform: skew(40deg);
      }
    }

    .option:hover {
      transition-duration: 1s;
      background-color: var(--main-color-blue-01);
    }

    #BtnEffect {
      background-color: var(--main-color-blue-01);
    }

    #login {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.125rem;
      height: 1.9rem;

      button {
        font-size: var(--font-size-s);
        color: var(--main-color-blue-04);
      }
    }

  }
}