.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--font-size-s);
  width: 100%;

  #image {
    // margin-right: 50px;
  }

  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 50px;
    transform: skew(-40deg);

    div {
      transform: skew(40deg);
    }
  }

  #BtnEffect:hover {
    background-color: var(--main-color-blue-01);
  }

  #login {}
}