@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  --primary-bg: #ffed1d;
  --btn-main-bg: #d6df22;
  --btn-main-font: #615b14;
  --btn-sub-bg: #6788fd;
  --btn-sub-font: #4285f4;
  --editor-main-bg: #1a1a3c;
  --primary-color: #010026;
  --editor-icon-bg: #252525;
  --editor-icon-bg: #000000;
  --primary-btn-color: #0057ff;

  --guide-line-color: #44695d;

  --font-size-xxxl: 45px;
  --font-size-xxl: 32px;
  --font-size-xl: 28px;
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 16px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input {
  outline: none;
  border: none;
  background: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: var(--primary-color);
  font-family: 'Pretendard Variable';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: auto;

  // .gide-line {
  //   background-color: var(--guide-line-color);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   // width: 760px;
  //   width: 80%;
  //   margin: 0 auto;
  // }

  .gide-line {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;

    // margin: 0 auto;
  }
}
