@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  // color design-system
  --main-color-navy-01: #010026;
  --main-color-navy-02: #020039;
  --main-color-navy-03: #1A1A3C;

  --main-color-blue-01: #0038FF;
  --main-color-blue-02: #2F5CFB;
  --main-color-blue-03: #BBC6EE;
  --main-color-blue-04: #4285F4;

  --sub-color-yellow-01: #FFED1D;
  --sub-color-yellow-02: #D6DF22;
  --sub-color-yellow-03: #615B14;

  --grey-color-grey-01: #252525;
  --grey-color-grey-02: #656565;
  --grey-color-grey-03: #D9D9D9;

  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #5E5E5E;

  --gradient-color-blue-01: #0057FF;
  --gradient-color-blue-02: #2F5CFB;
  --gradient-color-blue-03: #BBC6EE;
  --gradient-color-navy-03: #1A1A3C;

  //guide line
  --guide-line-color: #44695d;

  // font-size design-system
  --font-size-xl: 24px;
  --font-size-l: 20px;
  --font-size-xm: 16px;
  --font-size-m: 12px;
  --font-size-s: 11px;
  // --font-size-s: 10px;

  --font-family-Regular: "Pretendard Variable";
}

*,
::before,
::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input {
  outline: none;
  border: none;
  background: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--main-color-navy-01);
  font-family: 'Pretendard Variable';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: auto;
  max-width: 450px;
  margin: 0 auto;
}