dialog {
  background-color: blue;
  color: var(--white-color);
  background: url('../image/reservation-modal.png');
  width: 360px;
  height: 360px;
  border: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;

    // margin-bottom: 15px;
    .notice {
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .info {
      width: 284px;
      margin-bottom: 30px;

      >span {
        font-size: var(--font-size-xs);
        display: flex;
        margin-bottom: 16px;
      }

      .group {
        font-size: var(--font-size-xm);
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
      }

      .group:last-child {
        border-top: 2px solid var(--sub-color-yellow-03);

        >span {
          margin-top: 16px;
        }
      }
    }

    button {
      margin: 0 auto;
      background-color: var(--gradient-color-blue-01);
      color: var(--white-color);
      font-weight: 600px;
      width: 110px;
      height: 30px;
      margin-bottom: 30px;
      border-radius: 4px;
    }
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}