#reservationCheckModal {
  width: 320px;
  height: 460px;

  color: var(--white-color);

  border: 0;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 14px;

  background: var(--color-grayscale-web-card);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 24px;
    padding: 0.8rem 1rem;

    border-bottom: 1px solid var(--font-color-gray-700);
    p {
      color: var(--font-color-gray-main);
      font-size: var(--font-size-xm);
      font-weight: 700;
    }

    img {
      width: 24px;
      height: 24px;

      cursor: pointer;
    }
  }

  .contents {
    border-bottom: 1px solid var(--font-color-gray-700);

    #icon {
      width: 80px;
      height: 80px;

      margin: 2rem auto 0 auto;
    }
    .notice {
      text-align: center;
      margin: 1rem 0 2.5rem 0;
      // margin-bottom: 30px;

      color: var(--font-color-gray-100);
      font-weight: 700;
      font-size: var(--font-size-xm);
    }

    .info {
      width: 280px;
      height: 124px;

      margin: 0 auto 2rem auto;
      padding: 12px 10px;

      background: var(--color-grayscale-input-800);

      border-radius: 8px;

      .line {
        display: flex;
        align-items: center;

        margin-bottom: 0.5rem;

        color: var(--font-color-gray-main);
        font-weight: 500;
        font-size: var(--font-size-m);

        img {
          width: 20px;
          height: 20px;

          margin-right: 0.3rem;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1.3rem;
    margin: 1.5rem 0 0 0;

    .priceInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #text {
        color: var(--font-color-gray-main);
        font-weight: 500;
        font-size: var(--font-size-s);

        margin-right: 0.4rem;
      }

      #price {
        color: var(--font-color-gray-100);
        font-weight: 700;
        font-size: var(--font-size-xm);
      }
    }
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
