.main {
  position: absolute;
  width: 100vw; /* 화면 전체 너비 */
  max-width: none;
  left: 0;

  padding-top: 10rem;

  .inputPwd {
    width: 30rem;

    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    .button {
      cursor: pointer;
    }

    .editDes {
      display: flex;
      align-items: center;

      flex-shrink: 0;
      border-radius: 5px;
      border: 1px solid var(--font-color-gray-700, #37383e);

      color: var(--GRAY-SCALE-Gray-200_DEFAULT-MAIN-TEXT, #eff0f4);
      background-color: var(--color-grayscale-input-800);

      &:hover {
        border: 1px solid var(--Blue-Blue-400, #2458ec);
      }

      & {
        width: 33%;
        // padding: 8px 16px;
        padding: 0 8px;
        height: 38px;
      }

      input {
        color: var(--font-color-gray-100);

        width: 100%;

        background-color: var(--color-grayscale-input-800);
      }
    }
  }

  .container {
    width: 70%;
    margin: 3rem auto 0 auto;
    padding: 1rem 0;

    border-radius: 8px;
    // background-color: var(--color-grayscale-input-900);
    text-align: center;

    .headerTitle {
      font-weight: 700;
      font-size: var(--font-size-xl);

      margin-bottom: 1rem;
    }

    table {
      width: 100%; /* 테이블 너비를 콘텐츠에 따라 자동 조정 */
      margin: 0 auto; /* 중앙 정렬 */
      border-collapse: collapse;

      border: 1px solid var(--grey-color-grey-02);

      th,
      td {
        width: 100%;
        height: 50px;
        text-align: center;
        border: 1px solid #000;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      tr {
        text-align: center;
        border-bottom: 3px solid var(--grey-color-grey-01);
      }

      // tbody > tr:nth-child(odd) {
      //   background-color: var(--color-grayscale-input-800);
      // }

      tbody .checked {
        background-color: var(--color-grayscale-input-800);
      }

      .hyperLink {
        cursor: pointer;
        text-decoration: underline;

        // color: var(--primary-color-defualt-01);
        color: var(--color-ect-accent);
      }
    }

    .title {
      font-weight: 600;
      font-size: var(--font-size-xm);
    }

    .des {
      font-weight: 400;
      font-size: var(--font-size-m);
    }

    .line {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .noData {
      padding: 2rem;
      font-size: var(--font-size-md);
      color: var(--font-color-gray-400, #b0b0b0);
    }
  }
}
