.test {
  // background-color: var(--guide-line-color);
  width: 100%;
  margin: 0 auto;

  .scapture {
    color: var(--white-color);

    .banner {
      // background-color: antiquewhite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      height: 569px;

      .bannerText {
        display: flex;
        flex-direction: column;
        position: absolute;
        font-size: var(--font-size-xl);
        bottom: 10%;
        left: 5%;
      }
    }

    .option {
      // background-color: aqua;
      display: flex;
      width: 100%;
      font-size: var(--font-size-m);

      > .container {
        width: 95.11%;
        margin: 1.875rem auto;
        display: flex;
        justify-content: space-between;

        select {
          width: 3.75rem;
          height: 1.875rem;
          background-color: var(--grey-color-grey-01);
          color: var(--white-color);
          font-size: var(--font-size-m);
          border: none;
          border-radius: 0.25rem;
          // text-align: center;
        }

        .select {
          display: flex;
          align-items: center;

          .selectbox {
            position: relative;
            min-width: 80px;
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 0.5rem;

            button {
              width: 100%;
              height: 100%;

              display: flex;
              align-items: center;
              justify-content: space-between;

              // padding: 0.5rem 0 0.5rem 0.8rem;
              border: none;
              border-radius: 5px;
              background: rgba(37, 37, 37, 1);
              color: white;

              font-weight: 400;
              font-size: var(--font-size-m);

              cursor: pointer;

              span {
                margin-left: 0.8rem;
                margin-right: 0.5rem;
              }

              img {
                margin-right: 0.6rem;
              }
            }

            ul {
              margin: 0;
              padding: 0;
              position: absolute;
              top: 100%;
              left: 0;

              max-height: 160px; // 최대 높이를 설정
              overflow-y: auto; // 내용이 넘칠 경우 스크롤 생성

              width: 100%;
              background: rgba(37, 37, 37, 1);
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              display: none;
              z-index: 1000;

              li {
                button {
                  width: 100%;
                  padding: 0.5rem;
                  border: none;
                  background: rgba(37, 37, 37, 1);
                  color: white;
                  text-align: left;
                  cursor: pointer;

                  &:hover {
                    background: rgba(57, 57, 57, 1);
                  }

                  &.selected {
                    background: rgba(77, 77, 77, 1);
                  }
                }
              }
            }

            &.open ul {
              display: block;
            }
          }
        }

        #city,
        #local {
          margin-right: 0.5rem;
        }

        #search {
          background-color: var(--grey-color-grey-01);
          color: var(--white-color);
          display: flex;
          flex-direction: row;
          // justify-content: flex-end;
          align-items: center;
          width: 12.5rem;
          height: 1.875rem;
          border-radius: 0.25rem;

          > input {
            color: var(--white-color);
            margin-left: 0.625rem;
          }

          > input ::placeholder {
            color: var(--white-color);
          }
        }

        #searchImage {
          display: flex;
          justify-content: flex-end;
          width: 2.5rem;
          // width: 20px;

          cursor: pointer;
        }
      }
    }

    .noData {
      background-color: var(--main-color-navy-02);
      color: var(--grey-color-grey-03);
      text-align: center;
      font-size: var(--font-size-xm);

      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 0 auto;
      min-height: 9.3125rem;
      width: 95.11%;
      margin-bottom: 1.875rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid var(--grey-color-grey-02);
    }

    // display: flex;
    .stadiumList {
      background-color: var(--main-color-navy-02);

      font-size: var(--font-size-xs);

      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 0 auto;
      min-height: 9.3125rem;
      width: 95.11%;
      margin-bottom: 1.875rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid var(--grey-color-grey-02);

      cursor: pointer;

      > .stadium {
        display: flex;
        // margin: 0 0.75rem 0 0.75rem;
        margin: 0.75rem;

        .stadiumImage {
          width: 164px;
          height: 122px;

          min-width: 164px;
          min-height: 122px;

          max-width: 164px;
          max-height: 122px;

          border-radius: 10px;

          margin: auto 0;

          img {
            width: 164px;
            height: 122px;
            object-fit: cover;

            border-radius: 10px;
          }
        }

        .stadiumInfo {
          .stadium {
            display: flex;
            flex-direction: column;

            #name {
              font-size: var(--font-size-xm);
              margin-left: 0.6rem;
              margin-bottom: 2.0625rem;
            }

            .info {
              display: flex;
              flex-direction: column;
              // background-color: #500b82;
              min-height: 4.375rem;

              div {
                display: flex;
                margin-top: 0.2rem;

                padding-left: 0.6rem;

                span {
                  // display: flex;
                  // align-items: flex-start;
                  // justify-content: space-between;
                  // margin: 0 0.6rem;
                }

                #info {
                  margin-left: 0.6rem;
                }
              }

              .title {
                color: #bbbbbb;
                border-right: 0.0625rem solid white;
                min-width: 3.5rem;
              }
            }
          }
        }
      }
    }
  }
}
